@import './themes.scss';

.hero {
  position: relative;
  min-height: 76vh;
}

.hero__slide{
  height: 76vh;
  width: 100%;
  position: absolute;
  background: radial-gradient(circle at center right, rgba(#262a67, .6), rgba(darken(#262a67, 15%), 1), rgba(darken(#262a67, 25%), 1));
}

.slide--body{
  z-index: 999999;
  position: absolute;
}

.hero__slide--header{
  color: $color-light;
  margin-top: 6rem;
  h2{
    font-size: 3rem;
    font-weight: 800;
  }
}

.hero--slide1 {
  img {
    z-index: -9;
  }
}

.hero--slide2{
  background-image:  $hero-gradient;
}

.top__nav--wrapper {
  position: absolute;
  z-index: 9999999999999999999; // places nav on top of hero
  top: 0px;
}

.carousel-indicators li {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50px !important;
  border: 2px solid $color-success !important;
  background-color: transparent !important;
  z-index: 999999999999999999999999999999999999;

  &.active{
    background-color: $color-success !important;
  }
}