@import './themes.scss';

.hero {
  position: relative;
}

.hero__slide{
  height: $hero-height;
  width: 100%;
}

.hero__slide--header{
  color: $color-light;
  margin-top: 6rem;
  h2{
    font-size: 3rem;
    font-weight: 800;
  }
}

.hero--slide1 {
  background: $color-success url(../img/sera.png);
}

.hero--slide2{
  background-image:  $hero-gradient;
}

.top__nav--wrapper {
  position: absolute;
  z-index: 999; // places nav on top of hero
  top: 0px;
}

.carousel-indicators li {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50px !important;
  border: 2px solid $color-success !important;
  background-color: transparent !important;

  &.active{
    background-color: $color-success !important;
  }
}