.card__body{
  min-height: 280px;
  z-index: 9999;
}

.card__img{
  height: 250px;
  width: 100%;
  z-index: 99;
  transition: all 3s ease;
}

.image--card:hover{
  .card__inner > .card__img{
    transform: scale(1.09);
  }
}